main {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr 3fr;
  height: 100vh;
}

.grid {
  display: grid;
}

.silcing-columns-big {
  grid-template-columns: 1fr 2.5fr 6fr 2fr 0.75fr 0.25fr;
}

.justify-content {
  justify-items: center;
}

.silcing-raw-small {
  grid-template-rows: 1fr 0.2fr;
}

.margin-top {
  margin-top: 0.5em;
}

.border-top {
  border-top: 0.5em solid;
}

.border-top-small {
  border-top: 0.25em solid;
}

.border-right {
  border-right: 0.5em solid;
}

.border-bottom {
  border-bottom: 0.5em solid;
}

.background-brown {
  background-color: hsl(7, 100%, 50%);
}

.background-yellow {
  background-color: hsl(59, 100%, 50%);
}

.background-blue {
  background-color: hsl(240, 63%, 62%);
}

.height-2 {
  height: 20%;
}

.height-5 {
  height: 50%;
}

.height-7 {
  height: 70%;
}

.height-8 {
  height: 80%;
}

.width-1 {
  width: 10%;
}

.transform-right {
  transform: translate(25%, 0);
}

.transform-bottom {
  transform: translate(0, 75%);
}
