main {
  display: grid;
  background-color: chocolate;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

.top,.middle {
  border-bottom: .5em solid;
}

.top {
  display: grid;
  grid-template-columns: 1fr 2.5fr 6fr 2fr .75fr .25fr;
}

.top > div:not(:last-of-type) {
  border-right: .5em solid;
}
.first-column-top {
  background-color: hsl(240, 63%, 62%);
  border-bottom: .5em solid;
  height: 70%;
}
.first-column-bottom {
  border-top: .5em solid;
}