.grid {
  display: grid;
}

.grid-stack-area {
  grid-template-areas: 'stack';
}

.grid-area-name {
 grid-area: stack;
}

.silcing-raw-big {
  grid-template-rows: repeat(4, 1fr) .75fr;
}

.silcing-columns-big {
  grid-template-columns: 0.25fr repeat(3, 1fr) 0.25fr;
}

.margin-top-2 {
  margin-top: 0.5em;
}

.margin-right-2 {
  margin-right: .5em
}

.margin-bottom-2 {
  margin-bottom: .5em
}

.margin-left-2 {
  margin-left: .5em
}

.border-top-width {
  border-top-width: 0.5em;
}

.border-right-width {
  border-right-width: 0.5em;
}

.border-bottom-width {
  border-bottom-width: 0.5em;
}

.border-left-width {
  border-left-width: 0.5em;
}

.border-right-style-solid {
  border-right-style: solid;
}

.border-bottom-style-solid {
  border-bottom-style: solid;
}

.border-left-style-solid {
  border-left-style: solid;
}

.border-color-yellow {
  border-color: hsl(59, 100%, 50%);
}

.border-color-brown {
  border-color: hsl(7, 100%, 50%);
}

.border-color-blue {
  border-color: hsl(240, 63%, 62%);
} 

/* .height-2 {
  height: 20%;
}

.height-5 {
  height: 50%;
}

.height-7 {
  height: 70%;
}

.height-8 {
  height: 80%;
}  */

.height-full {
  height: 100vh;
}

/* .width-1 {
  width: 10%;
}

.transform-right {
  transform: translate(25%, 0);
}

.transform-bottom {
  transform: translate(0, 75%);
} */
